<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="../css/my_style.css">
</head>
<body>
	<div class="header">
		<img src="../img/logo.png" class="logo">
		<a href="../index.html" class="button">HOME</a>
		<a href="../components/tags.html" class="button">TAGS</a>
		<a href="../components/elements.html" class="button">ELEMENTS</a>
		<a href="../components/entities.html" class="button">ENTITIES</a>
		<a href="../components/comments.html" class="button">COMMENTS</a>
	</div>

	<h1>ATTRIBUTES</h1>

	<div class="text">
		<p><span>Attribute:</span> an attribute is used to add more information at the element, because an attribute must be inside the opening tag of an element. An attribute is composed by two parts, the name of the attribute an equal sign and the value inside quotations marks</p>
		<img src="../img/attributes.png" class="examples">		
	</div>

	
</body>
</html>