<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="../css/my_style.css">
</head>
<body>
	<div class="header">
		<img src="../img/logo.png" class="logo">
		<a href="../index.html" class="button">HOME</a>
		<a href="../components/tags.html" class="button">TAGS</a>
		<a href="../components/ATTRIBUTES.html" class="button">ATTRIBUTES</a>
		<a href="../components/elements.html" class="button">ELEMENTS</a>
		<a href="../components/entities.html" class="button">ENTITIES</a>
	</div>

	<h1>COMMENTS</h1>
	<div class="text">
		<p><span>Comments:</span> a comment is used to add information to the code only for programmers due to the fact that the browser’s going to ignore it.</p>
		<img src="../img/comments.png" class="examples">		
	</div>

	
	
</body>
</html>