<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="../css/my_style.css">
</head>
<body>
	<div class="header">
		<img src="../img/logo.png" class="logo">
		<a href="../index.html" class="button">HOME</a>
		<a href="../components/tags.html" class="button">TAGS</a>
		<a href="../components/attributes.html" class="button">ATTRIBUTES</a>
		<a href="../components/elements.html" class="button">ELEMENTS</a>
		<a href="../components/comments.html" class="button">COMMENTS</a>
	</div>

	<h1>ENTITIES</h1>

	<div class="text">
		<p><span>Entities:</span> an entity is used to add special characters to a web page. An entity is made up of three parts; an ampersand (&), a small code and a semi colon.</p>
		<img src="../img/entities.png" class="examples">
	</div>

	
</body>
</html>