<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="../css/my_style.css">
</head>
<body>
	<div class="header">
		<img src="../img/logo.png" class="logo">
		<a href="../index.html" class="button">HOME</a>
		<a href="../components/attributes.html" class="button">ATTRIBUTES</a>
		<a href="../components/elements.html" class="button">ELEMENTS</a>
		<a href="../components/entities.html" class="button">ENTITIES</a>
		<a href="../components/comments.html" class="button">COMMENTS</a>
	</div>


	<h1>TAGS</h1>
	<div class="text">
		<p><span>Tags:</span> a tag is a letter or a small word surrounded by angle brackets, There are 3 types of tags, opening tag, closing tag and self-closing tag.
		</p>	
		<img src="../img/tags.png" class="examples">
	</div>
		
</body>
</html>